# DB connection configs. Do *NOT* version control these.
*.conf
alembic.ini

# IntelliJ
.idea

# OSX
*.DS_Store

# Generated SOFT files
gen3va/static/softfile/

# Chrome Extension zip file
*.zip

# Python
*.pyc
venv/

# VIM
*.swp
*.swo