{% extends 'wrapper.html' %}

{% block title %}Documentation{% endblock %}

{% block body %}

    <div class='page' id='playground-page'>
        <h1>Playground</h1>
        <p class='instruction'>
            This area lists all collections of gene signatures in GEN3VA, regardless of the number of signatures collected and whether or not the signatures have been quality controlled.
        </p>
        <input class='search form-control' placeholder='Search collections'/>
        <ul id='tag-list' class='list list-unstyled'>
            {% for tag in tags %}
                <li>
                    <ul class='list-inline'>
                        <!-- We need "name" class for list.js (see bottom of page) -->
                        <li class='name'>
                            <strong>
                                <a href='{{ config.REPORT_URL }}/{{ tag.name }}'>{{ tag.name|upper }}</a>
                            </strong>
                        </li>
                        <li>
                            {{ tag.gene_signatures|length }} signatures
                        </li>
                        <li>
                            {% if (tag.approved_report and tag.approved_report.ready) %}
                               <span class='highlight'>Report ready</span>
                            {% endif %}
                        </li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>

    <script>
        new List('playground-page', {
            valueNames: ['name']
        });
    </script>

{% endblock %}