{% extends 'wrapper.html' %}

{% block title %}Documentation{% endblock %}

{% block body %}

    <div class="page" id="documentation-page">
        <h1>Documentation</h1>

        <div class="section">
            <h4>GEO2Enrichr</h4>
            <p>Under construction.</p>
        </div>

        <div class="section">
            <h4>Data normalization</h4>
            <p>Under construction.</p>
        </div>

        <div class="section">
            <h4>The Characteristic Direction Method</h4>
            <p>Under construction.</p>
        </div>

        <div class="section">
            <h4>PCA and hierarchical clustering plots</h4>
            <p>Under construction.</p>
        </div>

        <div class="section">
            <h4>Enrichment vector analysis with Enrichr</h4>
            <p>Under construction.</p>
        </div>

        <div class="section">
            <h4>L1000CDS2 plots</h4>
            <p>Under construction.</p>
        </div>

        <div class="section">
            <h4>Implementation details and backend database</h4>
            <p>Under construction.</p>
        </div>
    </div>

{% endblock %}