{% extends 'wrapper.html' %}

{% block title %}Get Started{% endblock %}

{% block body %}

    <script src="static/js/get-started.js"></script>

    <div class='page' id='get-started-page'>

        <div class='ribbon'>
            <div class='container'>
                <h1>Get Started</h1>
                <div id="instructions">
                    <p>
                        This page will help you get started building and analyzing your own collections.
                    </p>
                </div>
            </div>
        </div>
        <div class='container'>
            <div class='row'>
                <div class='col-md-6'>
                    <h2>How-to-Guide</h2>
                    <div>
                        <ol>
                            <li>Install and use the <a href="https://www.google.com/chrome/" target="_blank">Chrome web browser</a>.</li>
                            <li>Install <a href='https://chrome.google.com/webstore/detail/geo2enrichr/pcbdeobileclecleblcnadplfcicfjlp' target='_blank'>GEO2Enrichr</a>.</li>
                            <li>Navigate to the <a href='http://www.ncbi.nlm.nih.gov/geo/' target='_blank'>Gene Expression Omnibus</a> and then find a study of interest using GEO's search functionality. Alternatively, you can use the search bar on this page.</li>
                            <li>Process and tag your study of interest using GEO2Enrichr. Please read <a href='http://amp.pharm.mssm.edu/g2e/manual' target='_blank'>GEO2Enrichr's manual</a> for details. You must collect and tag at least three signatures before GEN3VA can build a report from your collection.</li>
                            <li>Find your tag on the <a href='collections'>Collections</a> page and click its link.</li>
                            <li>Click the <strong>Signatures and Custom Report Builder</strong> button.</li>
                            <li>Build a custom report using the report builder at the top of the page. Please read the <a href='documentation#custom-reports'>documentation on custom reports</a> for more.</li>
                        </ol>
                        <p>
                            For more information on tags and reports, please see <a href='documentation' target='_blank'>GEN3VA's documentation</a>.
                        </p>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class='section'>
                        <h2>Checklist</h2>
                        <p>
                            Ensure the checklist below is completed:
                        </p>
                        <ul>
                            <li id='is-chrome-browser'>Are you using the Chrome web browser? <span></span></li>
                            <li id='geo2enrichr-is-installed'>Is GEO2Enrichr installed? <span></span></li>
                        </ul>
                    </div>
                    <div class='section'>
                        <h2>Search GEO</h2>
                        <form>
                            <div class='form-group'>
                                <input id='search-box' class='form-control' placeholder='Enter a keyword...'/>
                                <input class='form-control btn btn-primary' type='submit'/>
                            </div>
                        </form>
                    </div>
{#                    <div class='section'>#}
{#                        <h2>Video tutorial</h2>#}
{#                        <p>Prefer to see GEN3VA in action? Watch our <a href='' target='_blank'>video tutorial</a>.</p>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>

{% endblock %}