{% extends 'wrapper.html' %}

{% block title %}Getting Started{% endblock %}

{% block body %}

    <h1>Getting Started</h1>

    <div class="section">
        <h4>Installing and using GEO2Enrichr</h4>
        <p>Under construction.</p>
    </div>

    <div class="section">
        <h4>Creating and managing tags</h4>
        <p>Under construction.</p>
    </div>

    <div class="section">
        <h4>Running reports</h4>
        <p>Under construction.</p>
    </div>

    <div class="section">
        <h4>Understanding the reports</h4>
        <p>Under construction.</p>
    </div>

{% endblock %}