{% extends 'wrapper.html' %}

{% block title %}Documentation{% endblock %}

{% block body %}

    <div class='page' id='playground-page'>
        <h1>Playground</h1>
        <p class='instruction'>
            This area lists all collections of gene signatures in GEN3VA, regardless of the number of signatures collected and whether or not the signatures have been quality controlled.
        </p>
        <input class='search form-control' placeholder='Search collections'/>
        <ul id='tag-list' class='list list-unstyled'>
            {% for tag in tags %}
                {% if tag.curator %}
                    {% set curator_class = tag.curator.name|c_curator_class + ' curated' %}
                {% else %}
                    {% set curator_class = 'uncurated' %}
                {% endif %}

                <li>
                    <ul class='list-inline'>
                        <li>
                            <h4 class='name'>{{ tag.name }}</h4>
                        </li>
                        <li>
                            <a href='{{ config.TAG_URL }}/{{ tag.name }}'>
                                Signatures ({{ tag.gene_signatures|length }})
                            </a>
                        </li>
                        {% if tag.report and tag.report.ready %}
                            <li>
                                <a href='{{ tag.name|c_report_url }}' class='report-link'>Report</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>

    <script>
        new List('playground-page', {
            valueNames: ['name']
        });
    </script>

{% endblock %}