{% extends 'wrapper.html' %}

{% block title %}Reports{% endblock %}

{% block body %}

    <div class='page' id='reports-for-tag-page'>
        <h1>Reports ({{ reports|length }})</h1>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Approved</td>
                    </tr>
                </thead>
                <tbody>
                    {% for report in reports %}
                        <tr>
                            <td>
                                {% if report.is_approved %}
                                    <a href='{{ config.REPORT_URL }}/approved/{{ report.tag.name }}'>
                                        {{ report.tag.name }}
                                    </a>
                                {% else %}
                                    <a href='{{ config.REPORT_URL }}/{{ report.id }}/{{ report.tag.name }}'>
                                        {{ report.tag.name }}
                                    </a>
                                {% endif %}
                            </td>
                            <td>{{ report.is_approved }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}