{% extends 'wrapper.html' %}

{% block title %}{{ tag.name }}{% endblock %}

{% block body %}

    <script src="static/lib/highcharts/highcharts.js"></script>
    <script src="static/lib/highcharts/highcharts-3d.js"></script>
    <script src="static/lib/highcharts/highcharts-exporting.js"></script>

    <link href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>

    <script src="static/js/report.js"></script>
    <script>
        window.globalHeatmaps = {{ enrichr_heatmaps_json|safe }};
    </script>

    <div class="page" id="report-page">

        <div class="report-metadata">
            <h1><strong>{{ tag.name }}</strong> <span>report</span></h1>
            <p>
                <a class="btn btn-primary" href="{{ config.REPORT_URL }}/{{ tag.name }}">Back to reports for {{ tag.name }}</a>
{#                <a class="btn btn-info" href="{{ tag.name|c_download_url }}" target="_blank">Download genes signatures*</a>#}
{#                <p><em>*Depending on the number of signatures, this may take a minute.</em></p>#}
            </p>
        </div>

        <!-- Gene signatures -->
        <div id="gene-signatures-table" class="section">
            <h2>Gene signatures</h2>

            <div class="table-responsive">
                <table class="table data-table responsive">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Title</th>
                            <th>Organism</th>
                            <th>Platform</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gene_signature in report.gene_signatures %}
                            {% set dataset = gene_signature.soft_file.dataset %}
                            <tr>
                                <td class="index">{{ loop.index }}</td>
                                <td class="title">
                                    {% if gene_signature.resource.code == 'geo' %}
                                        <a data-toggle="tooltip"
                                           title="Results page for the processed gene signature"
                                           href="{{ config.REPORT_URL }}/{{ gene_signature.extraction_id }}">
                                             {{ gene_signature.name }}
                                        </a>
                                    {% else %}
                                        {{ gene_signature.name }}
                                    {% endif %}
                                </td>
                                <td class="organism">
                                    {{ dataset.organism|c_filter_empty }}
                                </td>
                                <td class="platform">{{ dataset.platform|c_filter_empty }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Principal Component Analysis -->
        {% if pca_json %}
            <div class="section">
                <h2>PCA</h2>
                <div class="description">
                    <p>Interactive 3D principal component analysis of gene signatures. You can rotate the visualization and mouse over the data points.</p>
                </div>
                <div id="pca-container"></div>
            </div>
            <script>
                $(function () {
                    plotPCA({{ pca_json|safe }});
                });
            </script>
        {% endif %}

        <!-- Genes hierarchical clusterings -->
        {% if report.genes_heat_map %}
            <div class="section">
                <h2>Genes</h2>
                <div class="description">
                    <p>Hierarchical clustering of genes based on weights from differential expression method.</p>
                </div>
                <iframe src="{{ report.genes_heat_map.link }}"></iframe>
            </div>
        {% endif %}

        <!-- Enrichr hierarchical clusterings -->
        {% if report.enrichr_heat_maps|length > 0 %}
            <div id="enrichr-heat-maps" class="section">
                <h2>Enrichr</h2>
                <div class="description">
                    <p><a href="http://amp.pharm.mssm.edu/Enrichr/" target="_blank">Enrichr</a> is a web tool that performs gene set enrichment analysis.  To generate the hierarchical clusterings below, GEN3VA enriched each gene signature using Enrichr and then clustered the terms. Use the <strong>select</strong> button to change Enrichr's background library.</p>
                    <p>Hierarchical clustering of enriched terms from
                    <select>
                        {% for clust in report.enrichr_heat_maps %}
                            <option>{{ clust.enrichr_library }}</option>
                        {% endfor %}
                    </select></p>
                </div>
                {% set clust = report.enrichr_heat_maps[0] %}
                <iframe src="{{ clust.link }}" data-enrichr-library="{{ clust.enrichr_library }}"></iframe>
            </div>
        {% endif %}

        <!-- L1000CD2 hierarchical clusterings -->
        {% if report.l1000cds2_heat_map %}
            <div class="section">
                <h2>L1000CDS2</h2>
                <div class="description">
                    <p><a href="http://amp.pharm.mssm.edu/L1000CDS2" target="_blank">L1000CDS2</a> is a web tool that queries the LINCS L1000 dataset to identify small molecules that can reverse or mimic the observed input expression pattern. To generate the hierarchical clustering below, GEN3VA enriched each gene signature using L1000CDS2 to generate a list of perturbations that mimic (red) and reverse (blue) expression.</p>
                </div>
                <iframe src="{{ report.l1000cds2_heat_map.link }}"></iframe>
            </div>
        {% endif %}
    </div>

{% endblock %}