{% extends 'wrapper.html' %}

{% block title %}Statistics{% endblock %}

{% block body %}

    <script src="static/lib/highcharts/highcharts.js"></script>
    <script src="static/js/stats.js"></script>
    <script>
        $(function() {
            buildStats({{ stats_json|safe }});
        });
    </script>

    <div class="page" id="statistics-page">
        <h1>Statistics</h1>
        <div class="row">
            <div class="col-md-6">
                <h4>Gene signatures by platform</h4>
                <p class="instruction">Log10 scale</p>
                <div id="platforms-bar-chart"></div>
            </div>
            <div class="col-md-6">
                <h4>Stats</h4>
                <table class="table">
                    <tr>
                        <td class="col-md-3">Gene signatures</td>
                        <td class="col-md-9">{{ stats.num_gene_signatures }}</td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Gene lists</td>
                        <td class="col-md-9">{{ stats.num_gene_lists }}</td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Tags</td>
                        <td class="col-md-9">{{ stats.num_tags }} - <a href="tag">View All</a></td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Reports</td>
                        <td class="col-md-9">{{ stats.num_reports }} - <a href="report">View All</a></td>
                    </tr>
                    <tr class="last">
                        <td class="col-md-3">Platforms</td>
                        <td class="col-md-9">{{ stats.num_platforms }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}