{% extends 'wrapper.html' %}

{% block title %}{{ tag.name }}{% endblock %}

{% block body %}

    <div class="page" id="tag-page">

        <h1>{{ num_tags }} gene signatures for <strong>{{ tag.name }}</strong></h1>
        <a class="btn btn-primary" href="{{ report_url }}/{{ tag.name }}">Back to report</a>

        <div class="table-responsive">
            <table class="table data-table responsive">
                <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Organism</th>
                        <th>Platform</th>
                        <th>Optional Metadata</th>
                    </tr>
                </thead>
                <tbody>
                    {% for gene_signature in tag.gene_signatures %}
                        {% set dataset = gene_signature.soft_file.dataset %}
                        <tr>
                            <td class="index">{{ loop.index }}</td>
                            <td class="title">
                                {% if gene_signature.resource.name == 'geo' %}
                                    <a data-toggle="tooltip"
                                       title="Results page for the processed gene signature"
                                       href="{{ gene_signature.extraction_id|c_results_url }}">
                                         {{ gene_signature|c_signature_title }}
                                    </a>
                                {% else %}
                                    {{ gene_signature|c_signature_title }}
                                {% endif %}
                            </td>
                            <td class="organism">
                                {{ dataset.organism|c_filter_empty }}
                            </td>
                            <td class="platform">{{ dataset.platform|c_filter_empty }}</td>
                            <td class="optional-metadata">
                                {% if gene_signature.optional_metadata|c_filter_optional_metadata %}
                                    <div class="optional-metadata-content">
                                        <table>
                                        {% for opt_meta in gene_signature.optional_metadata|c_filter_optional_metadata %}
                                            <tr>
                                                <td>{{ opt_meta.name|capitalize }}</td>
                                                <td>{{ opt_meta.value }}</td>
                                            </tr>
                                        {% endfor %}
                                        </table>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}