{% extends 'wrapper.html' %}

{% block title %}Tags{% endblock %}

{% block body %}

    <div class="page" id="tags-all-page">
        <h1>Tags <span class="note">{{ tags|length }} metadata tags</span></h1>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Tag</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tag in tags %}
                        {% if tag.name|c_filter_empty %}
                            <tr>
                                <td>
                                    <strong>
                                        <a href="{{ config.TAG_URL }}/{{ tag.name }}">{{ tag.name|upper }}</a>
                                    </strong>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        $('table').DataTable({
            pageLength: 25
        });
    </script>

{% endblock %}