<div class="container-full" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>About</h3>
                <p>GEN3VA is actively developed by the <a href='http://icahn.mssm.edu/research/labs/maayan-laboratory' target='_blank'>Ma’ayan Laboratory</a> at the <a href='http://icahn.mssm.edu/' target='_blank'>Icahn School of Medicine at Mount Sinai</a></p>
            </div>
            <div class="col-md-4 ">
                <h3>Affiliations</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://commonfund.nih.gov/" target="_blank">NIH Common Fund</a>
                    </li>
                    <li>
                        <a href="https://commonfund.nih.gov/idg/overview" target="_blank">NIH IDG program</a>
                    </li>
                    <li>
                        <a href="http://www.mountsinai.org/" target="_blank">Mount Sinai</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Contact</h3>
                <ul class="list-unstyled">
                    <li>
                        Principal Investigator: <a href="mailto:mailto:avi.maayan@mssm.edu">Avi Ma’ayan</a>
                    </li>
                    <li>
                        Lead Developer: <a href="mailto:gregory.gundersen@mssm.edu">Gregory Gundersen</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
