<div id="header" class="navbar-static-top">
    <div class="container-full" id="logo">
        <div class="container">
            <div class="navbar-header">
                <a href="">
                    <img src="static/images/gen3va_logo.png"/>
                </a>
                <h1>
                    <a href="">GEN3VA</a>
                </h1>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="first">
                    <a href="getting-started" class="manual">Getting Started</a>
                </li>
                <li class="first">
                    <a href="documentation" class="manual">Documentation</a>
                </li>
                <li class="last">
                    <a href="about" class="about">About</a>
                </li>
            </ul>
        </div>
    </div>
</div>