<div id="header" class="navbar-static-top">
    <div class="container-full" id="logo">
        <div class="container">
            <div class="navbar-header">
                <a href="">
                    <img src="static/images/gen3va_logo.png"/>
                </a>
                <h1>
                    <a href="">GEN3VA</a>
                </h1>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="first">
                    <a href="playground">Playground</a>
                </li>
                <li>
                    <a href="documentation">Documentation</a>
                </li>
                <li>
                    <a href="statistics">Statistics</a>
                </li>
                {% if config.user and config.user.is_authenticated %}
                    <li>
                        <a href="admin">{{ config.user.name }}</a>
                    </li>
                    <li>
                        <form action='logout' method='POST'>
                            <button name='logout' type='submit'>Logout</button>
                        </form>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>