#clust_instruct_container {
  margin-left: 0;
}
#clustergrammer_logo {
  display: none;
}
#help_link,
#share_button,
#picture_button {
  color: #7fb800;
}
.viz_instruct_text {
  font-family: arial;
  font-size: 13px;
  line-height: 1.2em;
  margin-bottom: 20px;
  text-align: left;
}
#report-page iframe,
#report-page #pca-container {
  border: none;
}
#footer_div {
  display: none;
}
.btn {
  border-radius: 0;
  border: none;
}
.btn.btn-primary {
  background-color: #1689e5;
}
#toggle a {
  display: none;
}
#gene_search_box {
  border-radius: 0;
  height: 32px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-top,
.ui-corner-left,
.ui-corner-right,
.ui-corner-br,
.ui-corner-bl,
.ui-corner-tr,
.ui-corner-tl {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
