@import 'variable.less';


#index-page {
    margin-top: 30px;
    ul {
        li {
            padding: 3px 0;
        }
    }
    #introduction {
        border-bottom: 1px solid @color-gray;
    }
    #isotope {
        margin-top: 10px;
    }
    button {
        background-color: @color-lightgray3;
    }
    #intoduction {
        border-bottom: 1px solid @color-gray;
        font-size: 18px;
        line-height: 1.3em;
        padding-bottom: 23px;
        margin-bottom: 25px;
    }
    .tag-box {
        background-color: @color-lightgray2;
        border: 1px solid @color-gray;
        padding: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        //float: left;
        //height: 125px;
        p {
            margin: 0;
        }
        .tag-name {
            font-size: 20px;
            margin-top: 0;
            margin-bottom: 5px;
        }
        .signature-count {
            font-family: @font-family-accent;
            font-size: 20px;
            font-weight: bold;
        }
        &.curated {
            border-color: @color-palette-dark-red;
            background-color: @color-palette-red;
            color: white;
            .tag-name {
                color: white;
            }
            a {
                color: white;
                &:hover {
                    opacity: .7;
                }
            }
        }
    }

}

#index-page,
#results-page {
    table {
        caption {
            border-bottom: 1px solid @color-lightgray3;
        }
        vertical-align: middle;
        tr {
            th,
            td {
                border-top: 1px solid @color-lightgray3;
                padding: 4px;
            }
            td {
                &:first-child {
                    font-weight: bold;
                    width: 30%;
                }
            }

        }
    }
    .gene-lists {
        table-layout: fixed;
    }
}

#about-page {
    #platforms-bar-chart {
        height: 1000px;
    }
}

#report-page {
    iframe,
    #pca-container {
        border: 1px solid @color-gray;
    }
    iframe {
        height: 500px;
        width: 100%;
    }
    #report-metadata {
        #gene-signatures-count {
            font-size: 20px;
        }
        #curated-tag {
            color: @color-palette-red;
            font-size: 16px;
            padding: 5px;
        }
    }
    .section {
        border-top: 1px solid @color-gray;
        padding-top: 20px;
        margin-top: 40px;
        h4 {
            font-weight: bold;
        }
    }
}

table {
    td {
        vertical-align: middle !important;
    }
    .optional-metadata-content {
        background-color: @color-lightgray1;
        padding: 10px;
        table {
            width: 100%;
            td:first-child {
                font-weight: bold !important;
                padding-right: 10px;
                width: 30%;
            }
        }
    }
}
.tag-page,
.metadata-page {
    .note {
        font-size: 12px;
        font-weight: normal;
        margin-left: 15px;
    }
}
.metadata-page,
.tag-page {
    th {
        border-bottom: 2px solid @color-lightgray3;
        text-align: left;
    }
}