/* Links */
.page {
  margin-top: 40px;
}
.page h1 {
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 5px;
}
#index-page {
  margin-top: 30px;
}
#index-page button {
  background-color: #f9f9f9;
}
#index-page #intoduction {
  line-height: 1.8em;
  margin-bottom: 30px;
}
#index-page #intoduction p {
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  border-top: 1px solid #aaaaaa;
  margin-top: 15px;
  padding-top: 20px;
}
#index-page #filters button.bd2k-lincs-dcic-coursera,
#index-page #filters button.lincs-dsgcs,
#index-page #filters button.biogps {
  color: white;
}
#index-page #filters button.bd2k-lincs-dcic-coursera {
  background-color: #9351e5;
}
#index-page #filters button.lincs-dsgcs {
  background-color: #3593b1;
}
#index-page #filters button.biogps {
  background-color: #f15a5a;
}
#index-page #isotope {
  margin-top: 10px;
}
#index-page #isotope .tag-box {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.26);
  background-color: #f9f9f9;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
#index-page #isotope .tag-box p {
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
}
#index-page #isotope .tag-box .tag-name {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 5px;
}
#index-page #isotope .tag-box .report-link,
#index-page #isotope .tag-box .signature-count span {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}
#index-page #isotope .tag-box .description {
  max-width: 400px;
}
#index-page #isotope .tag-box.bd2k-lincs-dcic-coursera,
#index-page #isotope .tag-box.lincs-dsgcs,
#index-page #isotope .tag-box.biogps {
  color: white;
}
#index-page #isotope .tag-box.bd2k-lincs-dcic-coursera h5,
#index-page #isotope .tag-box.lincs-dsgcs h5,
#index-page #isotope .tag-box.biogps h5 {
  color: white;
}
#index-page #isotope .tag-box.bd2k-lincs-dcic-coursera a,
#index-page #isotope .tag-box.lincs-dsgcs a,
#index-page #isotope .tag-box.biogps a {
  /* Light blue, lighter than @color-palette-baby-blue. */
  color: #a7e2fd;
}
#index-page #isotope .tag-box.bd2k-lincs-dcic-coursera a:hover,
#index-page #isotope .tag-box.lincs-dsgcs a:hover,
#index-page #isotope .tag-box.biogps a:hover {
  color: #90caf9;
}
#index-page #isotope .tag-box.bd2k-lincs-dcic-coursera {
  background-color: #9351e5;
}
#index-page #isotope .tag-box.lincs-dsgcs {
  background-color: #3593b1;
}
#index-page #isotope .tag-box.biogps {
  background-color: #f15a5a;
}
#index-page-admin ul ul {
  margin-bottom: 20px;
}
#statistics-page #platforms-bar-chart {
  height: 1000px;
}
#statistics-page table {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
}
#report-page h2 {
  border-bottom: 1px solid #eeeeee;
  font-weight: 400;
}
#report-page .notification {
  color: #f15a5a;
  font-size: 14px;
  font-weight: bold;
}
#report-page iframe,
#report-page #pca-container {
  border: 1px solid #eeeeee;
}
#report-page .description {
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 10px;
}
#report-page #gene-signatures-table .download-link {
  margin-bottom: 20px;
}
#report-page iframe {
  height: 800px;
  width: 100%;
}
#report-page .section {
  margin-bottom: 30px;
}
#tag-page .note,
#tags-all-page .note,
#report-page .note,
#reports-all-page .note {
  font-size: 12px;
  font-weight: normal;
  margin-left: 15px;
}
#tag-page table {
  margin-top: 30px;
}
#tag-page table th {
  border-bottom: 2px solid #eeeeee;
  text-align: left;
}
#tag-page table td {
  vertical-align: middle !important;
}
#tag-page table .optional-metadata-content {
  background-color: #f9f9f9;
  padding: 10px;
}
#tag-page table .optional-metadata-content table {
  width: 100%;
}
#tag-page table .optional-metadata-content table td:first-child {
  font-weight: bold !important;
  padding-right: 10px;
  width: 30%;
}
