/* Links */
#index-page {
  margin-top: 30px;
}
#index-page button {
  background-color: #f9f9f9;
}
#index-page #intoduction {
  font-size: 16px;
  line-height: 1.3em;
  margin-bottom: 30px;
}
#index-page #intoduction p {
  border-top: 1px solid #aaaaaa;
  margin-top: 15px;
  padding-top: 20px;
}
#index-page #legend {
  margin-bottom: 10px;
}
#index-page #legend .legend-box div {
  height: 19px;
  width: 50px;
  float: left;
}
#index-page #legend .legend-box p {
  float: left;
  margin-left: 10px;
  margin-bottom: 5px;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
}
#index-page #legend .legend-box p em {
  font-weight: bold;
}
#index-page #legend .legend-box.processed div {
  border: 2px solid #ffd34e;
}
#index-page #legend .legend-box.curated div {
  border: 2px solid #e74c3c;
}
#index-page #isotope {
  margin-top: 10px;
}
#index-page #isotope .tag-box {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.26);
  background-color: #f9f9f9;
  border: 2px solid #eeeeee;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
#index-page #isotope .tag-box p {
  margin: 0;
}
#index-page #isotope .tag-box .tag-name {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 5px;
}
#index-page #isotope .tag-box .report-link,
#index-page #isotope .tag-box .signature-count span {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}
#index-page #isotope .tag-box .description {
  max-width: 400px;
}
#index-page #isotope .tag-box.ready {
  border: 2px solid #ffd34e;
}
#index-page #isotope .tag-box.curated {
  border: 2px solid #e74c3c;
}
#about-page #platforms-bar-chart {
  height: 1000px;
}
#report-processing-page .notification {
  color: #e74c3c;
  font-weight: bold;
  font-size: 14px;
}
#report-page h4 {
  border-bottom: 1px solid #eeeeee;
}
#report-page .report-metadata .label-highlight {
  color: #e74c3c;
  font-size: 14px;
  font-weight: bold;
  padding-left: 8px;
}
#report-page iframe,
#report-page #pca-container {
  border: 1px solid #eeeeee;
}
#report-page #enrichr-hier-clusts .description {
  margin-bottom: 10px;
}
#report-page #gene-signatures-table .download-link {
  margin-bottom: 20px;
}
#report-page iframe {
  height: 800px;
  width: 100%;
}
#report-page .section {
  padding-top: 20px;
}
#report-page .section h4 {
  font-weight: bold;
}
#report-page .pagination,
#report-page .pagination li a,
#report-page input {
  border-radius: 0;
}
#report-page .pagination > li > a,
#report-page .pagination > li > span {
  color: #004561;
}
#report-page .pagination > .active > a,
#report-page .pagination > .active > a:focus,
#report-page .pagination > .active > a:hover,
#report-page .pagination > .active > span,
#report-page .pagination > .active > span:focus,
#report-page .pagination > .active > span:hover {
  border-color: #aaaaaa;
  background-color: #eeeeee;
}
#tag-page table td,
#metadata-page table td {
  vertical-align: middle !important;
}
#tag-page table .optional-metadata-content,
#metadata-page table .optional-metadata-content {
  background-color: #f9f9f9;
  padding: 10px;
}
#tag-page table .optional-metadata-content table,
#metadata-page table .optional-metadata-content table {
  width: 100%;
}
#tag-page table .optional-metadata-content table td:first-child,
#metadata-page table .optional-metadata-content table td:first-child {
  font-weight: bold !important;
  padding-right: 10px;
  width: 30%;
}
#tag-page .note,
#metadata-page .note {
  font-size: 12px;
  font-weight: normal;
  margin-left: 15px;
}
#tag-page #consensus,
#metadata-page #consensus {
  margin-bottom: 20px;
}
#tag-page #consensus .description,
#metadata-page #consensus .description {
  background: #f9f9f9;
  margin-top: 20px;
  padding: 10px;
}
#tag-page #consensus .description h4,
#metadata-page #consensus .description h4 {
  margin: 0;
}
#tag-page #consensus .options button,
#metadata-page #consensus .options button {
  display: block;
  margin-top: 5px;
}
#tag-page #consensus ol,
#metadata-page #consensus ol {
  margin-top: 10px;
  padding-left: 20px;
}
#tag-page #consensus #pca-container,
#metadata-page #consensus #pca-container,
#tag-page #consensus #clustergrammer-preview,
#metadata-page #consensus #clustergrammer-preview,
#tag-page #consensus #l1000cds2-preview,
#metadata-page #consensus #l1000cds2-preview,
#tag-page #consensus #enrichr-preview,
#metadata-page #consensus #enrichr-preview {
  display: none;
}
#tag-page #consensus #clustergrammer-preview iframe,
#metadata-page #consensus #clustergrammer-preview iframe,
#tag-page #consensus #enrichr-preview iframe,
#metadata-page #consensus #enrichr-preview iframe,
#tag-page #consensus #l1000cds2-preview iframe,
#metadata-page #consensus #l1000cds2-preview iframe {
  border: 1px solid #eeeeee;
  height: 1000px;
  margin-top: 20px;
  width: 100%;
}
#tag-page #consensus #pca-container,
#metadata-page #consensus #pca-container {
  margin-top: 20px;
}
#metadata-page th,
#tag-page th {
  border-bottom: 2px solid #eeeeee;
  text-align: left;
}
