/* Dimensions
 * ------------------------------------------------------------------------ */
/* Colors
 * ------------------------------------------------------------------------ */
/* Links */
/* Fonts
 * ------------------------------------------------------------------------ */
/* Misc.
 * ------------------------------------------------------------------------ */
.page {
  padding-bottom: 50px;
}
.page .ribbon {
  background-color: #f6f6f6;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding: 10px 0 20px 0;
  margin-bottom: 20px;
}
.page .ribbon h1 {
  padding-bottom: 5px;
}
.page .dataTables_filter {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 16px;
}
#index-page button {
  background-color: #f9f9f9;
}
#index-page .ribbon input {
  height: 45px;
  margin-top: 20px;
  padding: 6px 12px 4px 12px;
}
#index-page .ribbon input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  font-size: 20px;
}
#index-page .ribbon input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: 20px;
}
#index-page .ribbon input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: 20px;
}
#index-page .ribbon input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 20px;
}
#index-page #filters button.curated {
  color: white;
}
#index-page #bio-categories-wrapper #bio-categories {
  border: 1px solid #eeeeee;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding-bottom: 20px;
}
#index-page #bio-categories-wrapper #bio-categories #filters {
  padding-left: 15px;
  padding-top: 20px;
}
#index-page #bio-categories-wrapper #bio-categories .bio-category-column {
  float: left;
  width: 33%;
}
#index-page #bio-categories-wrapper #bio-categories .bio-category-column .bio-category {
  padding: 0 10px;
}
#index-page #bio-categories-wrapper #bio-categories .bio-category-column .bio-category h3 {
  border-bottom: 2px solid #1689E5;
  font-weight: 500;
  padding: 5px 10px;
}
#index-page #bio-categories-wrapper #bio-categories .bio-category-column .bio-category ul {
  margin-left: 10px;
}
#index-page #bio-categories-wrapper #bio-categories .bio-category-column .bio-category ul li {
  border-bottom: 1px solid #eee;
  margin-bottom: 3px;
  padding-bottom: 3px;
}
#index-page #bio-categories-wrapper #bio-categories .bio-category-column .bio-category ul li a {
  font-size: 18px;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 300;
}
#index-page #bio-categories-wrapper #bio-categories .bio-category-column .bio-category ul li p {
  font-size: 13px;
  margin: 0;
}
#index-page #bio-categories-wrapper #bio-categories .bio-category-column .bio-category ul li p.name {
  font-weight: bold;
  word-wrap: break-word;
}
#index-page #bio-categories-wrapper #bio-categories .bio-category-column .bio-category ul li p.highlight {
  color: #F15A5A;
}
#index-page #bio-categories-wrapper #bio-categories .bio-category-column .bio-category ul li p.highlight a {
  color: #F15A5A;
  text-decoration: underline;
}
#index-page #bio-categories-wrapper #bio-categories .bio-category-column .bio-category ul li p.highlight a:hover {
  text-decoration: none;
}
#reports-for-tag-page .signatures-and-approved-report div {
  margin-top: 10px;
}
#reports-for-tag-page .custom-reports {
  border-top: 1px solid #eeeeee;
  margin-top: 15px;
}
#reports-for-tag-page .custom-reports ul li {
  margin-bottom: 10px;
}
#reports-for-tag-page #build-report-btn {
  margin-top: 5px;
}
@media (max-width: 992px) {
  #index-page .bio-category-column {
    width: 100%;
  }
}
#index-page-admin ul ul {
  margin-bottom: 20px;
}
#statistics-page #platforms-bar-chart {
  height: 1000px;
}
#statistics-page table {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 16px;
  font-weight: 100;
}
#report-page h2 {
  border-bottom: 1px solid #eeeeee;
  font-weight: 100;
}
#report-page .notification {
  color: #F15A5A;
  font-size: 14px;
  font-weight: bold;
}
#report-page #pca-container {
  border: 1px solid #eeeeee;
}
#report-page .description {
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 10px;
}
#report-page #gene-signatures-table .download-link {
  margin-bottom: 20px;
}
#report-page #gene-signatures-table #more-signatures-btn {
  margin-bottom: 10px;
}
#report-page .section {
  margin-bottom: 30px;
}
#report-page .heat-map {
  height: 800px;
  width: 100%;
}
#report-page .heat-map .fa {
  color: #7FB800;
}
#report-page .heat-map .ui-state-default,
#report-page .heat-map .ui-widget-content .ui-state-default,
#report-page .heat-map .ui-widget-header .ui-state-default {
  background: #7FB800;
  border: none;
}
#report-page .heat-map .slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
  border: 1px solid #aaaaaa;
}
#report-page .heat-map .modal-content {
  border-radius: 0;
}
#report-page .heat-map .modal-content .bootstrap_highlight.share_url {
  border: 1px solid #eee !important;
  width: 100% !important;
  padding: 5px !important;
}
#report-page div.color-legend {
  margin-bottom: 10px;
}
#report-page div.color-legend h3 {
  margin: 0 0 10px 0;
}
#report-page div.color-legend ul {
  margin-left: 0;
}
#report-page div.color-legend ul li {
  color: black;
  margin: 0 2px 4px 0;
  font-size: 12px;
  font-weight: bold;
  /* This is required to remove whitespace "leading" between list items. */
  float: left;
  line-height: 1.1em;
}
#report-page .reset-button {
  display: block;
  margin-bottom: 25px;
}
/* These selectors cannot be nested because Clustergrammer creates them in the
 * <body> tag. But these should only appear on report pages.
 */
.d3-tip {
  background: #7FB800;
  border-radius: 0;
  color: white;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  max-width: 300px;
  padding: 6px;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
  left: 0;
  margin: -1px 0 0 0;
  top: 100%;
}
#tags-all-page .note,
#reports-all-page .note {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 20px;
  font-weight: 100;
  margin-left: 15px;
}
#tags-all-page table a,
#reports-all-page table a {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 18px;
  font-weight: 100;
}
#tag-page table {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 15px;
  font-weight: 100;
  margin-top: 30px;
}
#tag-page table th {
  border-bottom: 2px solid #eeeeee;
  text-align: left;
}
#tag-page table td {
  vertical-align: middle !important;
}
#tag-page table .optional-metadata-content {
  background-color: #f9f9f9;
  padding: 10px;
}
#tag-page table .optional-metadata-content table {
  margin-top: 0;
  width: 100%;
}
#tag-page table .optional-metadata-content table td:first-child {
  font-weight: bold !important;
  padding-right: 10px;
  width: 30%;
}
#tag-page #custom-report-builder {
  border-top: 1px solid #aaaaaa;
  margin-top: 20px;
}
#tag-page #custom-report-builder .description {
  margin-top: 20px;
}
#tag-page #custom-report-builder .description h4 {
  margin: 0;
}
#tag-page #custom-report-builder input {
  margin-bottom: 10px;
}
#tag-page #custom-report-builder .options button {
  display: block;
  margin-top: 5px;
}
#tag-page #custom-report-builder ol {
  margin-top: 10px;
  padding-left: 20px;
}
#tag-page #custom-report-builder select {
  background-color: white;
  margin-bottom: 10px;
}
#collections-page #instructions {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 30px;
}
#collections-page #instructions h1 {
  font-weight: 500;
}
#collections-page table td,
#collections-page table th,
#collections-page table a {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 18px;
  font-weight: 100;
}
#collections-page table th {
  font-weight: 500;
}
#collections-page input {
  height: 45px;
  margin-top: 20px;
  padding: 6px 12px 4px 12px;
}
#collections-page input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  font-size: 20px;
}
#collections-page input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: 20px;
}
#collections-page input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: 20px;
}
#collections-page input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 20px;
}
#documentation-page #documentation-nav ol {
  margin-bottom: 0;
  padding-left: 23px;
}
#documentation-page #documentation-nav ol li,
#documentation-page #documentation-nav ol li a {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 20px;
  font-weight: 100;
}
#documentation-page #documentation-nav ol li {
  margin: 5px 0;
}
#documentation-page #documentation-nav ol li a {
  color: black;
}
#documentation-page #documentation-nav ol li a:hover {
  color: #1689E5;
}
#documentation-page #sections h2 {
  border-bottom: 1px solid #aaaaaa;
}
#documentation-page #sections h2.selected {
  background-color: #fff169;
}
#documentation-page #sections p {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 16px;
  font-weight: 100;
}
#upload-page #example-btn {
  margin-bottom: 10px;
}
#upload-page form p,
#upload-page form label {
  font-family: 'Roboto', arial, sans-serif;
}
#upload-page form p {
  font-size: 14px;
  font-weight: 300;
}
#upload-page form label {
  font-size: 20px;
  font-weight: 100;
}
#upload-page form textarea {
  height: 300px;
  margin-top: 10px;
}
#upload-page form .metadata input {
  margin-bottom: 10px;
}
#upload-page form #add-metadata-btn {
  display: block;
  margin-bottom: 10px;
}
#upload-page form #submit-btn-wrapper {
  border-top: 1px solid #eeeeee;
  padding-top: 14px;
}
#upload-page form input.form-control:focus,
#upload-page form textarea:focus {
  border-color: #1689E5;
}
#four-zero-four-page {
  margin-top: 40px;
}
#four-zero-four-page p {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 20px;
  font-weight: 100;
}
#get-started-page ul,
#get-started-page ol {
  padding-left: 15px;
}
#get-started-page .pass {
  color: #7FB800;
}
#get-started-page .fail {
  color: #F15A5A;
}
#get-started-page .fail a,
#get-started-page .fail a:link,
#get-started-page .fail a:visited {
  color: #F15A5A;
}
#get-started-page .fail a:hover,
#get-started-page .fail a:link:hover,
#get-started-page .fail a:visited:hover,
#get-started-page .fail a:focus,
#get-started-page .fail a:link:focus,
#get-started-page .fail a:visited:focus,
#get-started-page .fail a:active,
#get-started-page .fail a:link:active,
#get-started-page .fail a:visited:active {
  color: #F15A5A;
  text-decoration: underline;
}
#get-started-page #search-box {
  margin-bottom: 10px;
}
#get-started-page .container {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
}
