@import 'variable.less';

.page {
  margin-top: 40px;
  h1 {
    border-bottom: 1px solid @color-gray;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
}

#index-page {
  margin-top: 30px;
  button {
    background-color: @color-gray-very-light;
  }
  #intoduction {
    font-size: 16px;
    line-height: 1.3em;
    margin-bottom: 30px;
    p {
      border-top: 1px solid @color-gray;
      margin-top: 15px;
      padding-top: 20px;
    }
  }
  #legend {
    margin-bottom: 10px;
    .legend-box {
      div {
        height: 19px;
        width: 50px;
        float: left;
      }
      p {
        float: left;
        margin-left: 10px;
        margin-bottom: 5px;
        font-family: @font-family-accent;
        font-size: 14px;
        em {
          font-weight: bold;
        }
      }
      &.processed {
        div {
          background-color: @color-palette-yellow;
        }

      }
      &.curated {
        div {
          background-color: @color-palette-red;
        }
      }
    }
  }
  #isotope {
    margin-top: 10px;
    .tag-box {
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.26);
      background-color: @color-gray-very-light;
      border: 2px solid @color-gray-light;
      padding: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      //float: left;
      //height: 125px;
      p {
        margin: 0;
      }
      .tag-name {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 5px;
      }
      .report-link,
      .signature-count span {
        font-family: @font-family-accent;
        font-size: 16px;
        font-weight: bold;
      }
      .description {
        max-width: 400px;
      }
      &.ready {
        background-color: @color-palette-yellow;
        border: 2px solid @color-palette-dark-yellow;
      }
      &.curated {
        background-color: @color-palette-red;
        border: 2px solid @color-palette-dark-red;
        color: white;
        h5 {
          color: white;
        }
        a {
          /* Light blue, lighter than @color-palette-baby-blue. */
          color: #a7e2fd;
          &:hover {
            color: @color-palette-baby-blue;
          }
        }
      }
    }
  }
}

#statistics-page {
  #platforms-bar-chart {
    height: 1000px;
  }
}

#report-processing-page {
  .notification {
    color: @color-palette-red;
    font-weight: bold;
    font-size: 14px;
  }
}

#report-page {
  h4 {
    border-bottom: 1px solid @color-gray-light;
  }
  .report-metadata {
    .label-highlight {
      color: @color-palette-red;
      font-size: 14px;
      font-weight: bold;
      padding-left: 8px;
    }
  }
  iframe,
  #pca-container {
    border: 1px solid @color-gray-light;
  }
  #enrichr-hier-clusts {
    .description {
      margin-bottom: 10px;
    }
  }
  #gene-signatures-table {
    .download-link {
      margin-bottom: 20px;
    }
  }
  iframe {
    height: 800px;
    width: 100%;
  }
  .section {
    padding-top: 20px;
    h4 {
      font-weight: bold;
    }
  }
  .pagination,
  .pagination li a,
  input {
    border-radius: 0;
  }
  .pagination > li > a,
  .pagination > li > span {
    color: @color-palette-blue;
  }
  .pagination > .active > a,
  .pagination > .active > a:focus,
  .pagination > .active > a:hover,
  .pagination > .active > span,
  .pagination > .active > span:focus,
  .pagination > .active > span:hover {
    border-color: @color-gray;
    background-color: @color-gray-light;
  }
}

#tag-page,
#metadata-page {
  table {
    td {
      vertical-align: middle !important;
    }
    .optional-metadata-content {
      background-color: @color-gray-very-light;
      padding: 10px;
      table {
        width: 100%;
        td:first-child {
          font-weight: bold !important;
          padding-right: 10px;
          width: 30%;
        }
      }
    }
  }
  .note {
    font-size: 12px;
    font-weight: normal;
    margin-left: 15px;
  }
  #consensus {
    margin-bottom: 20px;
    .description {
      background: @color-gray-very-light;
      margin-top: 20px;
      padding: 10px;
      h4 {
        margin: 0;
      }
    }
    .options {
      button {
        display: block;
        margin-top: 5px;
      }
    }
    ol {
      margin-top: 10px;
      padding-left: 20px;
    }
    #pca-container,
    #clustergrammer-preview,
    #l1000cds2-preview,
    #enrichr-preview {
      display: none;
    }
    #clustergrammer-preview,
    #enrichr-preview,
    #l1000cds2-preview {
      iframe {
        border: 1px solid @color-gray-light;
        height: @dim-page-width;
        margin-top: 20px;
        width: 100%;
      }
    }
    #pca-container {
      margin-top: 20px;
    }
  }
}

#metadata-page,
#tag-page {
  th {
    border-bottom: 2px solid @color-gray-light;
    text-align: left;
  }
}