@dim-footer-height: 125px;
@dim-page-width: 1000px;

@color-palette-navy: #17406B;
@color-palette-baby-blue: #75d2fc;
@color-palette-red: #F15A5A;
@color-palette-yellow: #FFD34E;
@color-palette-dark-yellow: #cd9a00;

@color-green: #7FB800;

// Mesosphere green: #27c97b
// Mesosphere purple: #9351e5

@font-family-base: arial, sans-serif;
@font-family-accent: 'Roboto', arial, sans-serif;
@font-family-mono: 'Consolas', courier, monospace;

@color-gray: #aaaaaa;
@color-gray-very-light: #f9f9f9;
@color-gray-light: #eeeeee;

/* Links */
@color-blue: #1689E5;
@color-blue-dark: #006eb3;

@color-yellow-light: #fffac7;
@color-yellow: #fff169;

@color-black-almost: #444;

@background-transition: background-color 200ms linear;
