@dim-footer-height: 125px;
@dim-page-width: 1000px;

@color-palette-blue: #004561;
@color-palette-baby-blue: #75d2fc;
@color-palette-red: #E74C3C;
@color-palette-dark-red: #bf2718;
@color-palette-yellow: #FFD34E;
@color-palette-dark-yellow: #cd9a00;

@font-family-base: arial, sans-serif;
@font-family-accent: 'Roboto', arial, sans-serif;
@font-family-mono: 'Consolas', courier, monospace;

@color-gray: #aaaaaa;
@color-gray-very-light: #f9f9f9;
@color-gray-light: #eeeeee;

/* Links */
@color-blue: #428bca;
@color-blue-dark: #006eb3;

@color-yellow-light: #fffac7;
@color-yellow: #fff169;

@color-black-almost: #444;