{% extends 'wrapper.html' %}

{% block body %}

    <script src="static/lib/highcharts/highcharts.js"></script>
    <script src="static/js/stats.js"></script>
    <script>
        $(function() {
            buildStats({{ stats_json|safe }});
        });
    </script>

    <div class="page" id="index-page">
        <div>
            <p id="introduction">Welcome to <strong>GENEVA</strong> — <strong>GEN</strong>E <strong>E</strong>nrichment <strong>V</strong>ector <strong>A</strong>nalyzer.</p>
            <p>GENEVA is built on top of the <a href="{{''|c_g2e_url}}" target="_blank">GEO2Enrichr</a> database; it visualizes and analyzes consensus signatures.</p>
        </div>
        <div>
            <h2>Tags</h2>
            <ul class="list-inline">
                {% for tag in stats.tags %}
                    <li>
                        <a href="tags/{{ tag.name }}" class="label">{{ tag.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h1>Gene signatures by platform</h1>
                <p class="instruction">Log10 scale</p>
                <div id="platforms-bar-chart"></div>
            </div>
            <div class="col-md-6">
                <h1>Stats</h1>
                <table class="table">
                    <tr>
                        <td class="col-md-3">Gene signatures</td>
                        <td class="col-md-9">{{ stats.num_gene_signatures }}</td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Gene lists</td>
                        <td class="col-md-9">{{ stats.num_gene_lists }}</td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Tags</td>
                        <td class="col-md-9">{{ stats.num_tags }}</td>
                    </tr>
                    <tr class="last">
                        <td class="col-md-3">Platforms</td>
                        <td class="col-md-9">{{ stats.num_platforms }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}