{% extends 'wrapper.html' %}

{% block body %}

    <div class="page" id="index-page-admin">
        <h3>Admin Page</h3>
        <ul class="list-unstyled">
            {% for tag in tags %}
                <li>
                    <ul class="list-unstyled">
                        <li><strong>{{ tag.name }}</strong></li>
                        <li><span>{{ tag.gene_signatures|length }}</span> signatures</li>
                        <li><a href="{{ report_url }}/{{ tag.name }}/build">Build</a></li>
                        <li><a href="{{ report_url }}/{{ tag.name }}/update">Update</a></li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}