{% extends 'wrapper.html' %}

{% block body %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
    <script src="static/js/index.js"></script>

    <div class="page" id="index-page">
        <div id="intoduction">
            <h3>Collections of labeled gene expression signatures extracted from the <a
                    href="http://www.ncbi.nlm.nih.gov/geo/" target="_blank">Gene Expression Omnibus</a> (GEO) and other
                resources.</h3>

            <p><strong>GEN3VA:</strong> the <strong>GENE E</strong>xpression and <strong>E</strong>nrichment
                <strong>V</strong>ector <strong>A</strong>nalyzer aggregates and analyzes gene expression signatures
                extracted from <a href="http://www.ncbi.nlm.nih.gov/geo/" target="_blank">GEO</a> by the crowd using <a
                        href="http://amp.pharm.mssm.edu/g2e/" target="_blank">GEO2Enrichr</a>. Clicking on a tag below,
                you can view an aggregated report that provides global, interactive views, including enrichment
                analyses, for collections of signatures from multiple studies sharing a biological theme.</p>
        </div>

        {% if curators %}
            <ul id="filters" class="list-inline">
                <button class="btn btn-default is-check ed" data-filter="*">All</button>
                {% for curator in curators %}
                <li>
                    {% set curator_class = curator.name|c_curator_class %}
                    <button class="btn btn-default {{ curator_class }}" data-filter=".{{ curator_class }}">
                        {{ curator.name }}
                    </button>
                </li>
                {% endfor %}
            </ul>
        {% endif %}

        <div id="isotope">
            {% for tag in tags %}
                {% if tag.gene_signatures|length > 2 %}

                    {% if tag.curator %}
                        {% set curator_class = tag.curator.name|c_curator_class %}
                    {% else %}
                        {% set curator_class = "uncurated" %}
                    {% endif %}

                    <div class="tag-box {{ curator_class }}">
                        <h5 class="tag-name">{{ tag.name }}</h5>
                        <p class="signature-count">
                            <span>{{ tag.gene_signatures|length }}</span> signatures
                        </p>
                        <p>
                            <a href="{{ report_url }}/{{ tag.name }}" class="report-link">Report</a>
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}