<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    {% if self.title() %}
        <title>{% block title %}{% endblock %}</title>
    {% else %}
        <title>GEN3VA</title>
    {% endif %}

    <base href="/gen3va/"/>

    <link rel="icon" href="static/images/favico.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100i,300,400,400i,500,500i" rel="stylesheet">
    <link href="static/lib/font-awesome/css/font-awesome.css" rel="stylesheet"/>

    <script src="static/lib/jquery/jquery.js"></script>
    <script src="static/lib/jquery/jquery-ui.js"></script>
    <link href="static/lib/jquery/jquery-ui.min.css" rel="stylesheet" type="text/css"/>

    <link href="static/lib/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <script src="static/lib/bootstrap/js/bootstrap.js"></script>

    <link href="static/lib/datatables/datatables.bootstrap.css" rel='stylesheet'/>
    <script src="static/lib/datatables/datatables.js"></script>
    <script src="static/lib/datatables/datatables.bootstrap.js"></script>
    <script src="static/lib/listjs/list.js"></script>

    <script src="static/js/common.js"></script>
    <script src="static/js/utils.js"></script>

    <link href="static/style/main.css" rel="stylesheet" type="text/css"/>
    <link href="static/style/pages.css" rel="stylesheet" type="text/css"/>

    <!-- Google Analytics. This is important for grant progress reporting. -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GE0DCKFDYX"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){window.dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-GE0DCKFDYX');
    </script>
</head>
<body>
{% with use_simple_header = use_simple_header %}
    {% include 'partial/header.html' %}
{% endwith %}
<div class="container-full">
    {% block body %}{% endblock %}
</div>
{% include 'partial/footer.html' %}
</body>
</html>
